<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple MVC</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Homepage</h1>
    <p>My current homepage for my simple mvc application</p>
    <form action="/" method="post">
        <label for="titleInput">Title</label>
        <input type="text" name="titleInput" id="title" >
        <label for="numberInput">Number</label>
        <input type="number" name="numberInput" id="number" value="0">
    </form>
</body>
</html>