<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple MVC</title>
</head>
<body>
    <h1>Homepage</h1>
    <p>My current homepage for my simple mvc application</p>
</body>
</html>